<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <resource-ref>
        <res-ref-name>jdbc/ConnectionPool</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <servlet>
        <servlet-name>PersonEditServlet</servlet-name>
        <servlet-class>controller.PersonEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>controller.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>controller.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransformerServlet</servlet-name>
        <servlet-class>controller.TransformerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPerson</servlet-name>
        <servlet-class>controller.GetPersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGroup</servlet-name>
        <servlet-class>controller.PersonGroupEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonEditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransformerServlet</servlet-name>
        <url-pattern>/Transform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPerson</servlet-name>
        <url-pattern>/GetPersonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGroup</servlet-name>
        <url-pattern>/PersonGroupEdit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
