/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.03.2016, 23:47:13
    Author     : Геннадий
*/

h1{
	font-size:30px;
	font-weight: bold;
	margin-left:450px;
}

form{
	width: 1020px;
    margin:50px auto;
    padding:15px 20px;
    background:#f5f5f5;
    background-color:rgba(245,245,245,0.95);
    border-radius: 10px;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.4);
}

#number{
	margin-left: 22px;
}

input[type="submit"],input[type="button"]{
    padding:5px 15px;  
    margin-left: 10px;
    font-weight:bold;
    color:#333;
    background:white;
    border:none;
    border-radius: 12px;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow:0 1px 1px white;
}

input[type="text"]{
    padding:5px 15px;  
    margin-left: 10px;
    color:#333;
    background:white;
    border:none;
    border-radius: 7px;
    text-shadow:0 1px 1px white;
}

#back{
    margin-left:450px;
}

.hide-field{
    display:none;
}

#del-button{
    margin-left: 10px;
    margin-top: 3px;
}

.itemParent{
    margin-top: 10px;
    padding:5px 15px;  
    margin-left: 10px;
    font-weight:bold;
    color:#111;
    background:graytext;
    border:none;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow:0 1px 1px white;
}

#childBox{
    border-radius: 6px;
}

